<div class="col-sm-12 col-md-6 col-lg-4">
  <%= link_to 'Define a Trade Pack Component', new_trade_pack_component_path, class: 'btn btn-primary btn-block' %>
  <br /><br />
  <%= link_to 'Define a Trade Pack', new_trade_pack_path, class: 'btn btn-primary btn-block' %>
  <br /><br />
  <%= link_to 'Define a Trade Route', new_trade_route_path, class: 'btn btn-primary btn-block' %>
  <br /><br />
  <%= link_to 'Create a Trade Run', new_trade_run_path, class: 'btn btn-success btn-block' %>
</div>
