<div class="row">
  <div class="col-sm-12 col-md-5 text-center">
    <h1>Trade Packs</h1>
    <h4><span class="badge badge-default">First</span></h4>
    <br />
    <%= link_to 'Create a Trade Pack Item', new_component_path, class: 'btn btn-block btn-primary btn-lg' %>
    <br /><br />
    <%= render partial: 'new_trade_pack_button' %>
    <br /><br /><br /><br />
  </div>

  <div class="col-md-2"></div>

  <div class="col-sm-12 col-md-5 text-center">
    <h1>Trade Runs</h1>
    <h4><span class="badge badge-default">Second</span></h4>
    <br />
    <%= link_to 'Create a Trade Run Route', new_trade_route_path, class: 'btn btn-block btn-primary btn-lg' %>
    <br /><br />
    <%= link_to 'New Trade Run', new_trade_run_path, class: 'btn btn-success btn-lg btn-block' %>
  </div>
</div>
