<span class="badge badge-warning">
  <%= component.cost_formatted[:gold] %>.<%= component.cost_formatted[:silver] %> Gold
</span>
<span class="badge badge-info">
  <%= trade_pack.labor_cost %> Labor
</span>
<br />
<span class="badge badge-default">
  <%= trade_pack.region %>
</span>
