<h1 class="text-center">Items</h1>

<% components.each do |c| %>
  <div class="text-center">
    <%= render partial: 'components/edit_modal', locals: { component: c } %>
    <%#= link_to c.name, c, class: 'btn btn-primary btn-lg', remote: true %>
    <br/>
    <span class="badge badge-warning"><%= "#{c.cost[:gold]}.#{c.cost[:silver]} Gold" %></span>
  </div>
  <br /><br/>
<% end %>

<div id="trade-pack-components-list">
</div>
