<p id="notice"><%= notice %></p>

<h1 class="text-center">Trade Packs</h1>

<% @trade_packs.each do |trade_pack| %>
  <div class="text-center">
    <%= link_to trade_pack.name, trade_pack, class: 'btn btn-primary btn-lg' %>
    <br/>
    <%= render partial: 'badges', locals: { trade_pack: trade_pack } %>
  </div>
  <br /><br/>
<% end %>
